.post {
  width: 50%;

  border: 3px solid rgba(0, 255, 115, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 25px;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}

.message {
  font-size: 18px;
  color: white;
  word-break: break-all;
  margin-left: 15%;
  margin-top: -15px;
}
.post .image {
  width: 70px;
  height: 70px;
  position: relative;
  left: 5px;
  top: 3px;
  bottom: 5px;
}

.senderUsername {
 
  color: grey;
  font-size: 20px;
  height: 20px;
  margin-left: 15%;
  margin-top: -120px;
}
.date {
  right:5px;
  top:0;
  color: white;
  position: absolute;
  font-size: 11px;
}
@media (max-width: 1000px) {
  .post {
    width: 70%;
  }
}
@media (max-width: 1000px) {
  .post {
    width: 70%;
  }
}
@media (max-width: 920px) {
  .post {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .post {
    width: 98%;
  }
}
